.btn {
    margin-left: 12px;
}
.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 6px;
    align-items: center;
    
}
.listItems:hover {
    border-radius: 6px;
    background: #ff9797;
}
.close {
    color: grey;
    text-decoration: line-through;
}